/* commons */
* {
  font-family: 'PT Sans', sans-serif;
}

.fs-title {
  font-size: 3rem;
}

.rounded-15 {
  border-radius: 1.5rem;
}

.ps-color {
  color: rgb(0, 112, 209);
}

.btn-ps {
  background-color: rgb(0, 112, 209);
}

/* 00000000 HEADER 00000000 */

/* HEADER top - sony section */
#sony img {
  height: 12px;
}

/* HEADER top - navbar */
.dropdown-menu {
  animation: growdown 500ms ease-out;
  transform-origin: top center;
}

@keyframes growdown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.dropdown-item:hover {
  background-color: transparent;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dp-icon {
  width: 80px;
}

/* HEADER bottom - jumbo */
#jumbo {
  background-image: url(img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#jumbo-row {
  height: 600px;
}

.jumbo-preview {
  position: relative;
  bottom: 0;
  padding: 2px;
  border: 2px solid transparent;
  opacity: .8;
  transition: 200ms ease-out;
}

.jumbo-preview:hover {
  bottom: 10px;
  border: 2px solid rgb(0, 112, 209);
  opacity: 1;
}

/* 00000000 MAIN 00000000 */

/* MAIN - ps5 section */
.ps5-preview {
  border-bottom: 2px solid transparent;
  opacity: .8;
}

.ps5-preview:hover {
  border-bottom: 2px solid rgb(0, 112, 209);
  opacity: 1;
}

/* MAIN - takestwo section */
#takestwo {
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* MAIN - release section */
#release {
  background-color: rgb(33, 37, 41);
}

.release-preview {
  filter: brightness(.8);
  transition: 200ms linear;
}

.release-preview:hover {
  border-radius: 0;
  filter: brightness(1);
}

/* MAIN - plus section */
#plus {
  background-color: rgb(185, 185, 185);
}

/* MAIN - psnow section */
#psnow {
  background-color: rgb(0, 0, 80);
}

/* 00000000 DEBUG 00000000 */
.debug .jumbo-img {
  height: 100px;
  background-color: indianred;
  border: 1px solid rgb(124, 39, 39);
}